<footer class="page-footer">
  <div></div>
  <div class="content">
    <div>
      <p class="heading">Company</p>
      <ul>
        <li><a href="/contact/"><i class="fas fa-envelope"></i> &nbsp; </i>Contact</a></li>
        <li><a href="/testimonials/"><i class="fas fa-comments"></i> &nbsp; </i>Testimonials</a></li>
        <li><a href="/blog/"><i class="fas fa-rss"></i> &nbsp; Blog</a></li>
      </ul>
    </div>
    <div>
      <p class="heading">Social</p>
      <ul>
        <li><a href="/"><i class="fab fa-linkedin"></i> &nbsp; LinkedIn</a></li>
        <li><a href="/"><i class="fab fa-twitter"></i> &nbsp; Twitter</a></li>
        <li><a href="/"><i class="fab fa-mastodon"></i> &nbsp; Mastodon</a></li>
        <li><a href="https://github.com/VerusBiosciences/"><i class="fab fa-github"></i> &nbsp; GitHub</a></li>
      </ul>
    </div>
  </div>
  <div></div>
  <p class="copyright">&copy; {{ site.time | date: '%Y' }} Verus Biosciences, Inc. All Rights Reserved.</p>
</footer>
  