<header>
    <nav role="navigation">
      <div>
        <a href="/">
          <img id="logo" src="/assets/img/logo.svg" alt="Verus Biosciences logo">
        </a>
      </div>
      <span></span>
      <div class="nav-link">
        <a href="/blog/">
          <i class="fas fa-rss"></i>
          <p class="title">Blog</p>
        </a>
      </div>
      <div class="nav-link">
        <a href="/contact/">
          <i class="fas fa-envelope"></i>
          <p class="title">Contact</p>
        </a>
      </div>
    </nav>
  </header>
  