header {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 128px;
    width: 90%;
    vertical-align: middle;
    text-align: center;
    padding: 0 64px;
}

#logo {
    width: 160px;
    float: left;
}