header {
  margin: 8px 0px 0px;
  padding: 0;
  width: 100%;
}

nav {
  display: grid;

  .nav-link {
    align-items: center;
    text-align: center;
    margin: auto;
    text-transform: uppercase;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline 4px;
        text-underline-offset: 12px;
      }
    }
  }
  #logo {
    float: left;
  }
}

// small
@media only screen and (min-width: $screen-small-lower) {
  nav {
    grid-template-columns: 50% 50%;
    width: 100%;
  }
}

// medium
@media only screen and (min-width: $screen-med-lower) {
}

// large
@media only screen and (min-width: $screen-large-lower) {
  nav {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    width: 90%;
    grid-template-rows: 100px;
    text-align: center;
    padding: 0 64px;

    #logo {
      width: 160px;
    }
  }
}

// xlarge
@media only screen and (min-width: $screen-xlarge-lower) {
}

// xxlarge
@media only screen and (min-width: $screen-xxlarge-lower) {
}

// xxxlarge
@media only screen and (min-width: $screen-xxxlarge-lower) {
}
