@import 'theme';

header {
  display: grid;
  grid-gap: 16px;

  nav {
    display: grid;
    width: 100%;
    text-align: center;
    
    .nav-link {
      align-items: center;
      text-align: center;
      margin: auto;
      text-transform: uppercase;
      
      a {
        color: $primary;
        text-decoration: none;
          &:hover {
          text-decoration: underline 4px $primary;
          text-underline-offset: 12px;
        }
      }
    }
    #logo {
      width: 80px;
      margin: auto 0;
    }
  }
}

// small
@media only screen and (min-width: 0) {
  header {
    grid-template-columns: 1fr 90% 1fr;
    margin-top: 16px;
    
    nav {
      grid-template-columns: 50% 50%;

      #logo {
        grid-column: 1 / span 2;
        margin: auto;
      }
      #spacer {
        display: none;
      }
    }
  }
}

// medium
@media only screen and (min-width: $screen-med-lower) {
  #logo {
    margin: auto 0;
  }
}

// large
@media only screen and (min-width: $screen-large-lower) {
  header {
    grid-template-columns: 1fr 60% 1fr;
    
    nav {
      grid-template-columns: 3fr 1fr 1fr 1fr;
      grid-template-rows: 100px;

      #logo {
        grid-column: 1 / 1;
        margin: auto 0;
      }
      #spacer {
        display: inline;
      }
    }
  }
}

// xlarge
@media only screen and (min-width: $screen-xlarge-lower) {
}

// xxlarge
@media only screen and (min-width: $screen-xxlarge-lower) {
}

// xxxlarge
@media only screen and (min-width: $screen-xxxlarge-lower) {
}
