nav {
  display: grid;
  width: 100%;
  text-align: center;

  .nav-link {
    align-items: center;
    text-align: center;
    margin: auto;
    text-transform: uppercase;

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline 4px;
        text-underline-offset: 12px;
      }
    }
  }
  #logo {
    width: 160px;
  }
}

// small
@media only screen and (min-width: $screen-small-lower) {
  header {
    padding: 12px 12px 0px;
    
    nav {
      grid-template-columns: 50% 50%;

      #logo {
        grid-column: 1 / span 2;
        margin: 0 auto;
      }
      #spacer {
        display: none;
      }
    }
  }
}

// medium
@media only screen and (min-width: $screen-med-lower) {
}

// large
@media only screen and (min-width: $screen-large-lower) {
  header {
    padding: 8px 8px 0px;
    
    nav {
      grid-template-columns: 3fr 1fr 1fr 1fr;
      grid-template-rows: 100px;

      #logo {
        grid-column: 1 / 1;
        margin: 0;
      }
      #spacer {
        display: inline;
      }
    }
  }
}

// xlarge
@media only screen and (min-width: $screen-xlarge-lower) {
}

// xxlarge
@media only screen and (min-width: $screen-xxlarge-lower) {
}

// xxxlarge
@media only screen and (min-width: $screen-xxxlarge-lower) {
}
